# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: tstephan <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/05/16 16:00:14 by tstephan          #+#    #+#              #
#    Updated: 2025/05/16 16:02:10 by tstephan         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

visu

obj

.cache

compile_commands.json
